
.class {
  color: white;
  }
  
  body {
  padding: 15px;
  font-size: medium;
    background-image: url('img/background.png');
      background-size: 2000px;
        background-attachment: Fixed;
      
  }
    .photo {
      width: 100px;
    border-radius: 77px 74px 74px 74px;
  -moz-border-radius: 77px 74px 74px 74px;
  -webkit-border-radius: 77px 74px 74px 74px;
  border: 0px solid #000000;
      -webkit-box-shadow: 31px 18px 51px -7px rgba(0,0,0,0.71);
  -moz-box-shadow: 31px 18px 51px -7px rgba(0,0,0,0.71);
  box-shadow: 31px 18px 51px -7px rgba(0,0,0,0.71);
    }

    .logo {
      width: 500px;
      position: ;
    }

    h1, h2 {
   color: white;
  }

  .telegram {
    width: 200px;
    position: ;
  }

